section.cards
    .container
        p.subtitle.title_gray.title_bold Набори даних
        p.title.title_dark.title_strong Відкриті дані
        .d-grid.cards__grid
            .cards__item
                span Агропромисловий розвиток
            .cards__item
                span Культура
            .cards__item
                span Туризм
            .cards__item
                span Спорт та фізична культура
            .cards__item
                span Охорона здоров’я
            .cards__item
                span Екологія
