section.slider
    .slider-slick
        .slider-item
            .inner
                .container
                    .row.slider-content.align-items-center
                        .col-12.col-lg-7
                            p.title.title_white.title_strong Ex ad ullamco dolore aliqua duis excepteur ipsum
                            p.subtitle.title_white.title_book Ipsum laboris laboris elit sint dolore proident ipsum. Eiusmod nisi labore cillum ad consectetur.
                            button.slider-btn.btn_blues Читати далі
        .slider-item
            .inner.green
                .container
                    .row.slider-content.align-items-center
                        .col-12.col-lg-7
                            p.title.title_white.title_strong Ex ad ullamco dolore aliqua duis excepteur ipsum
                            p.subtitle.title_white.title_book Ipsum laboris laboris elit sint dolore proident ipsum. Eiusmod nisi labore cillum ad consectetur.
                            button.slider-btn.btn_blues Читати далі
    .container.slider-navig.d-md-block.d-none
        .row.justify-content-between.align-items-center.p-sp
            .slider-dotss
            .slider-arrows
                .slider-prev.d-flex.justify-content-center.align-items-center
                    img(src='./assets/img/arrow_n.png')
                .slider-next.d-flex.justify-content-center.align-items-center
                    img(src='./assets/img/arrow_n.png')

