section.tabs.container
    ul#myTab.nav.nav-tabs.d-flex.justify-content-center.align-items-center(role='tablist')
        li.nav-item
            a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Lorem Ipsum 1
        li.nav-item
            a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Lorem Ipsum 2
    #myTabContent.tab-content
        #home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
            h1.title.text-center  Lorem Ipsum 1
            .container
                .row
                    .col-12.col-lg-6.img
                        img(src="./assets/img/city.png")
                    .col-12.col-lg-6
                        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset.
        #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
            h1.title.text-center  Lorem Ipsum 2
            .container
                .row
                    .col-12.col-lg-6.img
                        img(src="./assets/img/city.png")
                    .col-12.col-lg-6
                        p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset.